
@{
    ViewBag.Title = "About";
}

<!-- team -->
<section class="wthree-row py-5" id="team">
    <!-- team container -->
    <div class="team_bg_w3ls">
        <div class="container py-sm-5">
            <!-- title description -->
            <div class="row py-lg-5">
                <div class="col-lg-5  bb-left">
                    <span class="w3-line">show case</span>
                    <h3 class="agile-title">our team</h3>
                </div>
                <div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
                    <p>
                        Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci. Nulla accumsan
                        ac elit in congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos Class aptent taciti
                        sociosqu ad litora torquent p himenaeos.
                    </p>
                    <a class="btn btn-danger  mt-sm-4 text-capitalize scroll" href="#w3layouts_cs" role="button">read more</a>
                </div>
            </div>
            <!-- //title description -->
            <!-- team row -->
            <div class="row py-md-5 pt-5">
                <div class="col-lg-3 col-6 team-grids">
                    <div class="our-team">
                        <div class="pic">
                            <img src="~/images/template/t1.jpg" alt="team member" class="img-fluid" />
                        </div>
                        <div class="content">
                            <h3 class="title">Raihan Mahmud</h3>
                            <span class="post">Team Lead</span>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/raihanM95" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/raihanM95" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/raihanM95" class="fab fa-linkedin"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 team-grids">
                    <div class="our-team">
                        <div class="pic">
                            <img src="~/images/template/t2.jpg" alt="team member" class="img-fluid" />
                        </div>
                        <div class="content">
                            <h3 class="title">Bashar Ovi</h3>
                            <span class="post">Team Member</span>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/muhammadbashar.ovi" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-linkedin"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 team-grids mt-lg-0 mt-4">
                    <div class="our-team">
                        <div class="pic">
                            <img src="~/images/template/t3.jpg" alt="team member" class="img-fluid" />
                        </div>
                        <div class="content">
                            <h3 class="title">Habibur Rahman</h3>
                            <span class="post">Team Member</span>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/habiburrahman.hridoy.7" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-linkedin"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 team-grids mt-lg-0 mt-4">
                    <div class="our-team">
                        <div class="pic">
                            <img src="~/images/template/t4.jpg" alt="team member" class="img-fluid" />
                        </div>
                        <div class="content">
                            <h3 class="title">Saidul Islam</h3>
                            <span class="post">Team Member</span>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/sydul.islam.9655" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-linkedin"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //team row -->
        </div>
    </div>
    <!-- //team container -->
</section>
<!-- //team -->
