
@{
    ViewBag.Title = "Home";
}

@*<div id="myCarousel" class="carousel slide carousel-div" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner.jpg" class="slides-image" id="image-height" />
        </div>
        <div class="item">
            <img src="~/images/banner1.jpg" class="slides-image" id="image-height" />
        </div>
        <div class="item">
            <img src="~/images/banner2.png" class="slides-image" id="image-height" />
        </div>

    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@

<!-- banner -->
<div class="banner layer" id="home">
    <div class="container">
        <div class="banner-text">
            <div class="slider-info">
                <div class="agileinfo-logo">
                    <h3>
                        <span class="fab fa-linode text-center"></span> Business management
                    </h3>
                </div>
                <h3 class="txt-w3_agile"> Transform Your Dreams into Reality</h3>
                <a class="btn btn-danger  mt-4 text-capitalize scroll" href="#w3layouts_bnrbtm" role="button">read more</a>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->

<!-- about -->
<section class="py-sm-5 py-3">
    <div class="container">
        <div class="agileabt-w3 py-lg-5">
            <div class="row my-md-5 mt-sm-5 my-4">
                <!-- about left grid -->
                <div class="col-lg-6 order-lg-0 order-1  mt-lg-0 mt-5">
                    <div class="row">
                        <div class="col-6 w3-ab">
                            <div class="w3-ab-grid">
                                <div class="w3-aicon p-lg-5 p-4">
                                    <i class="fas fa-chart-line"></i>
                                    <h4 class="my-3 text-capitalize text-dark">purchases</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 w3-ab">
                            <div class="w3-ab-grid">
                                <div class="w3-aicon p-lg-5 p-4">
                                    <i class="fab fa-magento"></i>
                                    <h4 class="my-3 text-capitalize text-dark">stock</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mt-4 w3-ab">
                            <div class="w3-ab-grid">
                                <div class="w3-aicon  p-lg-5 p-4">
                                    <i class="fas fa-chart-pie"></i>
                                    <h4 class="my-3 text-capitalize text-dark">sales</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mt-4 w3-ab">
                            <div class="w3-ab-grid">
                                <div class="w3-aicon p-lg-5 p-4">
                                    <i class="fab fa-accusoft"></i>
                                    <h4 class="my-3 text-capitalize text-dark">reporting</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //about left grid -->
                <!-- about right grid -->
                <div class="col-lg-6 order-lg-1 order-0">
                    <h3 class="agile-title text-lg-right">1 click manage your business</h3>
                    <div class="w3ls-abt">
                        <img src="~/images/template/banner2.png" alt="" class="img-fluid" />
                    </div>
                </div>
                <!-- //about right grid -->
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!-- video -->
<section class="pb-md-5">
    <div class="container">
        <div class="agileabt-w3">
            <div class="row pb-5">
                <div class="col-lg-6 order-lg-0 order-1  mt-lg-0 mt-5">
                    <h3 class="agile-title">We could divide the solution into various Modules</h3>
                    <ul class="list-group mt-3">
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3"></i>Product Catalog Module
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3"></i>Purchase Module
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3"></i>Party Module (Customer/Supplier)
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3"></i>Stock & Sales Module
                        </li>
                        <li class="list-group-item border-0">
                            <i class="fas fa-check mr-3"></i>Reporting Module
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 grad_video p-sm-5 p-4  order-lg-1 order-0">
                    <h3 class="agile-title text-white">get expertise advice and start saving!</h3>
                    <!-- Button trigger modal -->
                    <div class="button">
                        <a href="#small-dialog1" class="play-icon popup-with-zoom-anim text-center mt-sm-5 mt-3">
                            <i class="fas fa-play-circle pr-5 text-left"></i>play
                        </a>
                    </div>
                    <div id="small-dialog1" class="mfp-hide w3ls_small_dialog wthree_pop">
                        <div class="agileits_modal_body">
                            <iframe src="https://player.vimeo.com/video/149659911"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //video -->

<!-- footer top -->
<section class="footerw3-top py-lg-5">
    <div class="container py-md-5">
        <!-- footer top row -->
        <div class="row py-5">
            <div class="col-md-4">
                <img src="~/images/template/f1.png" alt="" class="img-fluid">
                <h4 class="feed-title my-3">
                    Email and Live chat
                    <span>24/7</span>
                </h4>
                <p> ligula sed magna as ultriciesDonec rutrum congue leo eget.</p>
            </div>
            <div class="col-md-4 my-md-0 my-4">
                <img src="~/images/template/f2.png" alt="" class="img-fluid">
                <h4 class="feed-title my-3">
                    any query or clarifiactions?
                    <span>call us</span>
                </h4>
                <p class="mb-0">+ 10 000 12345 </p>
                <p>+ 10 000 12346 </p>
            </div>
            <div class="col-md-4">
                <img src="~/images/template/f3.png" alt="" class="img-fluid">
                <h4 class="feed-title my-3">
                    creative thoughts
                    <span>informatics</span>
                </h4>
                <p>Ras ultricies ligula sed magna Donec rutrum congue leo eget.</p>
            </div>

        </div>
        <!-- //footer top row -->
    </div>
</section>
<!-- //footer top -->
